body {
    font-family: Arial, sans-serif;
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: honeydew;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form input, .form select {
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color:lightgreen;
    color: white;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    align-self: center;
}

button:hover {
    background-color:darkcyan;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f6ebeb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c62828;
}
